
h1{
    color: #ffbe0b;
    font-family:'Ubuntu', sans-serif;
    display: flex;
    justify-content: center;
    font-size: 60px;
    text-shadow:2px 2px 2px #000;
    
}



.currentPlayer{
    border:none;
   color:rgb(136, 0, 255);
    font-size: 20px;
    text-align: center;
    padding: auto;
}

#board{
    justify-content: center;
 padding: 10px;
 margin: 10px;
 background-color: blueviolet;
 overflow: hidden;
 
}

.row{
    justify-content: center;
    color: #000;
    border:1px solid black;
    height:100%;
    width:100%;
    display: flex;
}

.row div{
    height: 100px;
    width:100px;
}
.card{
    border:1px solid rgb(145, 255, 0);
    justify-content: center;
  
    float: left;
}

.main{
    background-color: #0ead69;
    justify-content: center;
    align-items: center;
}
.body-g{
    background-color: #3a86ff;
 
  }

.navigation{
  margin:35px;
  position:relative;
  width:400px;
  height: 70px;
  background-color: #ffbe0b;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 10px;
}
.navigation ul{
  display:flex;
  width:350px;
}

.navigation ul li{
  position:relative;
  list-style: none;
  width:70px;
  height:70px;
  z-index: 1;
}

.navigation ul li button {
  position:relative;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width:100%;
  text-align: center;
  font-weight: 500;
  background:transparent;
  border:0px;
}

.navigation ul li button .icon{
  position:relative;
  display: block;
  line-height: 75px;
  font-size: 1.5em;
  text-align: center;
  transition: 0.5s;
  color:black;
}

.navigation ul li.active button .icon{
  transform: translateY(-28px);
}


.navigation ul li button .text{
  position:absolute;
  color: black;
  font-weight: 400;
  font-size: 0.75em;
  transition: 0.5s;
  opacity: 0;
  transform: translateY(20px);
}


.navigation ul li.active button .text{
    opacity:1;
    transform: translateY(20px);
}

.indicator{
  position:absolute;
  top:-50%;
  width:70px;
  height:70px;
  background:#ff006e;
  border-radius: 50%;
  border: 6px solid #3a86ff;
  transition: 0.5s;
}

.indicator::before{
  content:"";
  position:absolute;
  top:50%;
  left:-20px;
  width:20px;
  height:20px;
  background:transparent;
  border-top-right-radius: 20px;
  box-shadow: 0px -10px 0 0 #3a86ff;
}
.indicator::after{
  content:"";
  position:absolute;
  top:50%;
  right:-20px;
  width:20px;
  height:20px;
  background:transparent;
  border-top-left-radius: 20px;
  box-shadow: 0px -10px 0 0 #3a86ff;
}

.navigation ul li:nth-child(1).active~.indicator{
  transform: translateX(calc(70px*0));
}
.navigation ul li:nth-child(2).active~.indicator{
  transform: translateX(calc(70px*1));
}
.navigation ul li:nth-child(3).active~.indicator{
  transform: translateX(calc(70px*2));
}
.navigation ul li:nth-child(4).active~.indicator{
  transform: translateX(calc(70px*3));
}
.timerClock .icon{
  position:relative;
  display: block;
  line-height: 75px;
  font-size: 1.5em;
  text-align: center;
  transition: 0.5s;
  color:black;
}