
h1{
    color: #ffbe0b;
    font-family:'Ubuntu', sans-serif;
    display: flex;
    justify-content: center;
    font-size: 60px;
    text-shadow:2px 2px 2px #000;
    
}



.currentPlayer{
    border:none;
   color:rgb(136, 0, 255);
    font-size: 20px;
    text-align: center;
    padding: auto;
}

#board{
    justify-content: center;
 padding: 10px;
 margin: 10px;
 background-color: blueviolet;
 overflow: hidden;
 
}

.row{
    justify-content: center;
    color: #000;
    border:1px solid black;
    height:100%;
    width:100%;
    display: flex;
}

.row div{
    height: 100px;
    width:100px;
}
.card{
    border:1px solid rgb(145, 255, 0);
    justify-content: center;
  
    float: left;
}

.main{
    background-color: #0ead69;
    justify-content: center;
    align-items: center;
}